# Use the latest 2.1 version of CircleCI pipeline process engine.
# See: https://circleci.com/docs/reference/configuration-reference
version: 2.1

on:
  workflow_dispatch:
    inputs:
      diff_scan_target_ref:
        description: "Git ref to the base to compute the scan diff, can be a commit hash or branch name"
        default: "main"  # update this if needed
        
# Define a job to be invoked later in a workflow.
# See: https://circleci.com/docs/guides/orchestrate/jobs-steps/#jobs-overview & https://circleci.com/docs/reference/configuration-reference/#jobs
jobs:
#   scan:
#     runs-on: ubuntu-latest
#     container:
#       image: us-central1-docker.pkg.dev/dev-scandal-us/datatheorem-sast-dev/datatheorem-sast-dev:latest
#       env:
#         DT_SAST_API_KEY: l2qiJs2QnABjAla5fpy6FRr/yUOD7/PUn7AbQFW2/1A=
#         DT_SAST_REPOSITORY_NAME: ${{ github.event.repository.full_name }}
#         DT_SAST_REPOSITORY_PLATFORM: GITHUB
#         DT_SAST_REPOSITORY_ID: ${{ github.event.repository.id }}
#         DT_SAST_REPOSITORY_HTML_URL: ${{ github.event.repository.html_url }}
#         DT_SAST_REPOSITORY_DEFAULT_BRANCH_NAME: ${{ github.event.repository.default_branch }}
#         DT_SAST_SCAN_HEAD_REF: "refs/remotes/origin/${{ github.ref_name }}"
#         DT_SAST_SCAN_TARGET_REF: "refs/remotes/origin/${{ github.event.inputs.diff_scan_target_ref }}"
#     steps:
#       - uses: actions/checkout@v4
#         with:
#           fetch-depth: 0  # IMPORTANT: Needed because by default, actions/checkout@v4 doesn't load the full git history/refs
#       - name: Start Data Theorem SAST Scan
#         run: data_theorem_sast_analyzer scan ./
  
  say-hello:
    # runs-on: ubuntu-latest
    # Specify the execution environment. You can specify an image from Docker Hub or use one of our convenience images from CircleCI's Developer Hub.
    # See: https://circleci.com/docs/guides/execution-managed/executor-intro/ & https://circleci.com/docs/reference/configuration-reference/#executor-job
    docker:
    #   # Specify the version you desire here
    #   # See: https://circleci.com/developer/images/image/cimg/base
    #   - image: cimg/base:current
    # container:
      image: us-central1-docker.pkg.dev/dev-scandal-us/datatheorem-sast-dev/datatheorem-sast-dev:latest
      env:
        DT_SAST_API_KEY: l2qiJs2QnABjAla5fpy6FRr/yUOD7/PUn7AbQFW2/1A=
        DT_SAST_REPOSITORY_NAME: ${{ github.event.repository.full_name }}
        DT_SAST_REPOSITORY_PLATFORM: GITHUB
        DT_SAST_REPOSITORY_ID: ${{ github.event.repository.id }}
        DT_SAST_REPOSITORY_HTML_URL: ${{ github.event.repository.html_url }}
        DT_SAST_REPOSITORY_DEFAULT_BRANCH_NAME: ${{ github.event.repository.default_branch }}
        DT_SAST_SCAN_HEAD_REF: "refs/remotes/origin/${{ github.ref_name }}"
        DT_SAST_SCAN_TARGET_REF: "refs/remotes/origin/${{ github.event.inputs.diff_scan_target_ref }}"
    # steps:
    #   - uses: actions/checkout@v4
    #     with:
    #       fetch-depth: 0  # IMPORTANT: Needed because by default, actions/checkout@v4 doesn't load the full git history/refs
    #   - name: Start Data Theorem SAST Scan
    #     run: data_theorem_sast_analyzer scan ./

    # Add steps to the job
    # See: https://circleci.com/docs/guides/orchestrate/jobs-steps/#steps-overview & https://circleci.com/docs/reference/configuration-reference/#steps
    steps:
      # Checkout the code as the first step.
      - checkout
      - run:
          name: "Say hello"
          command: "echo Hello, World!"
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0  # IMPORTANT: Needed because by default, actions/checkout@v4 doesn't load the full git history/refs
      - name: Start Data Theorem SAST Scan
        run: data_theorem_sast_analyzer scan ./

# Orchestrate jobs using workflows
# See: https://circleci.com/docs/guides/orchestrate/workflows/ & https://circleci.com/docs/reference/configuration-reference/#workflows
workflows:
  say-hello-workflow: # This is the name of the workflow, feel free to change it to better match your workflow.
    # Inside the workflow, you define the jobs you want to run.
    jobs:
      - say-hello
