version: 2.1

jobs:
  run_my_command:
    # 1. On définit l'image Docker à utiliser
    docker:
      - image: us-central1-docker.pkg.dev/dev-scandal-us/datatheorem-sast-dev/datatheorem-sast-dev:latest

    # 2. On définit les variables d'environnement pour ce job
    environment:
        DT_SAST_API_KEY: nI8VHAYVq2YAhgEpxkw3j1is2wjueTiwfds1C2LF3ww=
        DT_SAST_REPOSITORY_NAME: ${{ github.event.repository.full_name }}
        DT_SAST_REPOSITORY_PLATFORM: GITHUB
        DT_SAST_REPOSITORY_ID: ${{ github.event.repository.id }}
        DT_SAST_REPOSITORY_HTML_URL: ${{ github.event.repository.html_url }}
        DT_SAST_REPOSITORY_DEFAULT_BRANCH_NAME: ${{ github.event.repository.default_branch }}
        DT_SAST_SCAN_TIMEOUT: 600
        DT_SAST_OUTPUT_DIR: ./

    steps:
      - checkout # Récupère ton code depuis GitHub
      - run: pwd && ls
      - run:
          name: "Exécution de ma commande personnalisée"
          command: |
            echo "Le job est lancé dans l'environnement : t"
            # Remplace la ligne ci-dessous par ta vraie commande
            data_theorem_sast_analyzer scan ./

workflows:
  mon_workflow:
    jobs:
      - run_my_command
