version: 2.1

jobs:
  say-hello:
    docker:
      - image: us-central1-docker.pkg.dev/dev-scandal-us/datatheorem-sast-dev/datatheorem-sast-dev:latest
        env:
          DT_SAST_API_KEY: l2qiJs2QnABjAla5fpy6FRr/yUOD7/PUn7AbQFW2/1A=
          DT_SAST_REPOSITORY_NAME: ${{ github.event.repository.full_name }}
          DT_SAST_REPOSITORY_PLATFORM: GITHUB
          DT_SAST_REPOSITORY_ID: ${{ github.event.repository.id }}
          DT_SAST_REPOSITORY_HTML_URL: ${{ github.event.repository.html_url }}
          DT_SAST_REPOSITORY_DEFAULT_BRANCH_NAME: ${{ github.event.repository.default_branch }}
          DT_SAST_SCAN_TIMEOUT: 600
          DT_SAST_OUTPUT_DIR: ./
    steps:
      - checkout
      - run:
          name: "Say hello"
          command: "echo Hello, World!"
      - uses: actions/checkout@v4
      - name: Start Data Theorem SAST Scan
        run: data_theorem_sast_analyzer scan ./
            # Optional: output sarif as a Github artifact
      - uses: actions/upload-artifact@v4
        with:
          name: dt-sast-scan-result
          path: ./scan-results-sarif.json
      # Optional: Upload output sarif to Github Code Scanning
      - name: Upload SARIF to GitHub Code Scanning
        uses: github/codeql-action/upload-sarif@v3
        with:
          sarif_file: ./scan-results-sarif.json

workflows:
  say-hello-workflow:
    jobs:
      - say-hello
